*{
    font-family: 'Josefin Sans', sans-serif;
/* font-family: 'Mukta', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Itim', cursive; */
}



#fotoLogo{
    width: 150px;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;


}

.site-header{
    padding-top: 20px;
    padding-bottom: 20px ;


}
.barra{
    background-color: rgba(5,168,73,0.9);
  /*    padding:20px 20px 20px 0 ;  */
   
 }
.navegacion-principal a{
    color: white;
    text-decoration: none;
    font-size: 22px;
 /*     margin-right: 50px;
    margin-left: 15px; */ 
    padding: 20px 60px 20px 20px;
    display: inline-block;
    
    
    }

    .navegacion-principal a:hover{
        background-color:  rgba(112, 223, 89, 0.9);
        transition: 0.7s;

    }
    

    




